.main{

    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    width: 100vw;
    height: 80vh;
    text-align: center;

}

.main h2{

    font-size: 3em;
    font-family: var(--montserrat);
    margin: 1rem;
    line-height: 3.5rem;

}

.main p{

    font-size: 1.7em;
    font-family: var(--montserrat);
    margin: 1rem;
    padding: 1rem;
    line-height: 2.5rem;

}

.main span{

    color:var(--color-aqua)

}

.descargar-cv{

    margin: 1rem;
    display: inline-block;
    justify-content: space-between;
    text-align: center;
    padding: 10px 20px;
    background-color: var(--color-aqua);
    border:none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 1px 3px 11px 5px rgba(102, 231, 200, .5);

}

.descargar-cv:hover{

    background-color: var(--color-blanco);
    box-shadow: none;

}

.main img{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 7.5em;
    width: 28vw;
    border: 7px solid var(--color-aqua);

}

.main-contenido{

    display: flex;
    flex-direction: row;
    align-items: flex-start;

}

.redes-sociales{

    display: flex;
    width: 55%;
    justify-content: space-around;
    padding-right: 1rem;

}

.redes-sociales a{

    color:var(--color-amarillo);
    text-decoration: none;
    padding: 10px 20px;

}

.redes-sociales a:hover{

    background-color:var(--color-rojo);
    color:var(--color-aqua);
    transition: ease-in .3s;
}

.redes-sociales{
    
    list-style: none;
    padding: 0;
    margin-left: 40px;

}