body{
 
    font-family: var(--montserrat);

}

    .wrapper{

        width: 100vw;
        height: 100vh;
        background-color: var(--color-azul-oscuro);
        color: var(--color-blanco);
        font-size: 1rem;
        padding-top: 10px;

    }

    .menu-lista a{

        color:var(--color-amarillo);
        text-decoration: none;
        padding: 10px 20px;
        justify-content: space-between;
        display: flex;
        flex-direction: row;

    }

    #contacto{

        color:var(--color-negro);
        font-weight: 600;

    }

    .navbar{

        display: flex;
        justify-content: space-between;
        padding: 2em;
     

    }

    .brand span{

        color:var(--color-aqua);

    }

    .menu-lista{

        display: flex;
        width: 67%;
        justify-content: space-around;
        padding-right: 10px;

    }

    .menu h2{

        font-size: 1.5rem;
        padding: .1rem;
        border: 2px solid var(--color-amarillo);
        text-align: center;

    }

    .menu-lista a:hover{

        background-color:var(--color-rojo);
        color:var(--color-aqua);
        transition: ease-in .3s;
    }

    .brand{

        margin-top: -7px;

    }

.main .redes-sociales{

    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    
}

